body {
  padding-top: 54px;
}
.navbar-brand {
  font-size: 22px;
}
.top-container {
  padding-left: 0px; 
}

#tag-srch-div {
  margin-top: 5px;
  padding-top: 15px;
}
#tag-srch-div h1{
  font-size: 18px;
}

.divider{
  background-color: black;
  height: 2px;
  width: auto;
  margin-top:5px;
  margin-bottom: 5px
}

#add-tag,
{
  margin-top: 5px;
  padding: 3px;
}

#gifdiv {
  display: block;
  overflow: hidden;
  position: relative;
  text-align: left;
}
#gifwrap {
  width: 248px;
  padding-top: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}